.header {
  padding: 10px 0;
  font-size: 14px;
  .menu {
    padding: 0 15px;
    display: block;
    cursor: pointer;
  }
  .icon {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .search {
    width: 680px;
    margin-left: 100px;

    input {
      width: 100%;
      height: 40px;
      margin-top: 5px;
      border: 1px solid #ececec;
      padding: 9px 50px 10px 9px;
      font-size: 14px;
      font-weight: 500;
      transition: all 150ms linear;
      outline: none;
      border-radius: 3px;
    }
  }
  .header-action {
    padding: 0 15px;
    margin-left: 42px;
    .account {
      padding: 0 30px;
      border-left: 1px solid #ececec;
      cursor: pointer;
    }
    .carts {
      padding: 0 30px;
      border-left: 1px solid #ececec;
      cursor: pointer;
    }
  }
}

.custom-dropdown-menu {
  .ant-dropdown-menu-item {
    padding-right: 80px !important;
    padding-left: 20px !important;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;

    a {
      font-weight: 400;
      text-decoration: none !important;
    }

    &:hover {
      background-color: #e6f7ff;
      color: #1890ff;
    }
  }
}
