* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customTd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

.customTdAdress {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.customTdDescription {
  white-space: nowrap; /* Không cho xuống dòng */
  overflow: hidden; /* Cắt bớt nội dung nếu quá dài */
  text-overflow: ellipsis; /* Hiển thị dấu "..." */
  max-width: 232px; /* Giới hạn chiều rộng của nội dung */
  max-height: 54px;
}
